
.domi_kamos{
     /* width: 500px; */
    height: 200px; 
    background-color: red;
    /* padding: 50px;
    margin: 100px;
    padding: 10px 20px 30px 40px;
    padding-left: 10px; */
    border: 5px solid blueviolet;
    -webkit-border-radius: 10px 50px;
    -moz-border-radius: 10px 50px;
    -ms-border-radius: 10px 50px;
    -o-border-radius: 10px 50px;
    /* border-radius: 10px 50px; */
}
p{
    color: purple;
}
